<div class="container mt-5">
    <h1 style="font-family: oswald;" class="text-center mb-3" id="mt-title">Available Watches</h1>
    <div class="row">
      <div id="card-color" class="col col-lg-4 my-5" *ngFor="let _Data of MyDataArray; let i=index">
        <div class="card" style="width: 18rem;">
          <img [src]="_Data.Image[0]" alt="">
        
          <div class="card-body">
            <h5 id="style-font" style="font-family: oswald;" class="text-weight-bold">{{_Data.Name}}</h5>
            <h6 style="font-family: oswald;" class="card-text">{{_Data.price}}</h6>
            <p style="font-family: oswald;" class="card-text">{{_Data.description}}</p>
            <p style="font-family: oswald;" class="text-danger">{{_Data.offer}}</p>
            <!-- <p id="qty-color" style="color: rgb(29, 29, 29);" class="card-text">{{_Data.qty}}</p> -->
           
            <span *ngIf="_Data.QYT !==0">
              <i class="fa-solid fa-check text-primary"></i></span>
          <h4>{{_Data.QYT !==0 ? 'In Stock':''}}</h4>
          <span *ngIf="_Data.QYT === 0">
              <i class="fa-solid fa-xmark text-danger"></i></span>
          <h4 class="text-danger">{{_Data.QYT ===0 ? 'Out Of Stock':''}}</h4>
          <button type="button"  (click)="GoToViewProduct(_Data._id)" [disabled]="_Data.QYT === 0" class="btn btn-outline-success w-100">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
</div>

<style>
.btn{
  background-color: rgba(0, 0, 0, 0.897);
  color: rgb(236, 236, 236);
  padding-left: 6px;
  padding-right: 6px;
  font-family: oswald;
  /* margin-left: px; */
  /* margin-right: 11px; */
}
</style>








