<div class="container bg-dark text-white">
    <div *ngIf="ShowBox===true">
        <div *ngFor="let _Data of LocalStorageCartArray">
            <img [src]="_Data.Image[0]" alt="" class="w-25 h-25">
            <p>SelectedQuantity:{{_Data.NewQuantity}}</p>
        </div>
        <p>TotalCartQuantity:{{CartQuantity}}</p>
    </div>
    <div *ngIf="ShowBox===false">
        <h3 class="text-danger">Nothing Has Selected</h3>
    </div>
</div>
<div class="container" id="cart-controllers">
    <button class="btn btn-outline-primary mx-3" (click)="AddQuantity()">+</button>
    <button class="btn btn-outline-primary" (click)="SubQuantity( )">-</button>
    <div class="container bg-light" *ngIf="ShowCart !== false">
        <img [src]="FilteredArray[0].Image[0]" alt="">
        <p>Quantity:{{CartQuantity}}</p>
        <button class="btn btn-outline-primary mx-3">+</button>
        <button class="btn btn-outline-primary">-</button>
    </div>
</div>
<div class="container" id="cart-controller-blow">
    <h1>Name: {{FilteredArray[0].Name}}</h1>
    <h3>Quantity: {{FilteredArray[0].qty}}</h3>
    <p>Description: {{FilteredArray[0].description}}</p>
    <p>Price: {{FilteredArray[0].price}}</p>
    <img *ngFor="let _Data of FilteredArray[0].Image" [src]="_Data" alt="">
    <!-- <p>{{_Data}}</p> -->
    <p></p>
</div>

<style>
    #cart-controllers{
margin-top: 15%;
    }
    #cart-controllers-below{
        margin-top: 20%;
    }
</style>











<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right">(<strong>5</strong>) items</span>
                    <h5>Items in your cart</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>
                            <tr>
                                <td width="90">
                                    <div class="cart-product-imitation">
                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                    <a href="#" class="text-navy"></a>
                                    </h3>
                                    <p class="small">
                                        
                                    </p>
                                    <dl class="small m-b-none">
                                        <dt>Description lists</dt>
                                        <dd>A description list is perfect for defining terms.</dd>
                                    </dl>

                                    <div class="m-t-sm">
                                        <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                        |
                                        <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                    </div>
                                </td>

                                <td>
                                    $180,00
                                    <s class="small text-muted">$230,00</s>
                                </td>
                                <td width="65">
                                    <input type="text" class="form-control" placeholder="1">
                                </td>
                                <td>
                                    <h4>
                                        $180,00
                                    </h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

               
        </div>
        <div class="col-md-3">
            <div class="ibox" >
                <div class="ibox-title">
                    <h5>Cart Summary</h5>
                </div>
                <div class="ibox-content">
                    <span>
                        Total
                    </span>
                    <h2 class="font-bold">
                        $390,00
                    </h2>

                    <hr>
                    <span class="text-muted small">
                        *For United States, France and Germany applicable sales tax will be applied
                    </span>
                    <div class="m-t-sm">
                        <div class="btn-group">
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                        <a href="#" class="btn btn-white btn-sm"> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Support</h5>
                </div>
                <div class="ibox-content text-center">
                    <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
                    <span class="small">
                        Please contact with us if you have any questions. We are available 24h.
                    </span>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">

                    <p class="font-bold">
                    Other products you may be interested
                    </p>
                    <hr>
                    <div>
                        <a href="#" class="product-name"> Product 1</a>
                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <a href="#" class="product-name"> Product 2</a>
                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>