<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar fixed-top navbar-expand-md flex-nowrap navbar-new-top">
            <div id="blvck" href="/" class="navbar-brand">BLVCK SHADES</div>
            <ul class="nav navbar-nav mr-auto"></ul>
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a id="account" class="nav-link px-2">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2" routerLink="/view-cart"><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li class="nav-item">
                    <!-- <button type="button"  class="header-btn my-1" routerLink="/user-sign-in">Login</button> -->

    <!-- HTML !-->
    <button class="button-57" role="button"><span class="text">LOGIN</span><span>Let's GO!</span></button>

                </li>
            </ul>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <nav class="navbar fixed-top navbar-expand-md navbar-new-bottom">
            <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2">

                <ul class="navbar-nav w-100 justify-content-center px-3">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/products">PRODUCTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about-us">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/gallery">GALLERY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact-us">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/faq">FAQ</a>
                    </li>
                </ul>
            </div>
        </nav>