img{
    height: 300px;
    width: auto;
    object-fit: cover;
    
}

#mt-title{

    margin-top: 16%;
    font-family: oswald;
    font-size: 35px;
    color: rgb(110, 110, 110);
}
.card-body{
    /* background-color: rgba(171, 173, 173, 0.986); */
    background-image: url(../header/2500206.webp);
}

#i-stock{
    color: rgb(10, 10, 10);
    font-size: large;
}
#o-stock{
    color: grey;
    font-size: large;
}

#check-icon{
    color: black;
    
}
#cross-icon{
    color: grey;
    
}